// 主题色
$color-dark: #333;
$color-red: #d32f2e;
$color-yellow: #facd1c;
$color-blue: #409EFF;
// 文字色
$color-black: #323232;
$color-deep: #1a1a1a;
$color-pl: #999999;
$color-weak: #B3B3B3;
$color-white: #fff;
// 背景色
$bg-page: #F3F3F3;
$bg-page-light: #F9F9F9;
